@model IEnumerable<ApplicationCore.Models.MovieCardModel>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_MovieCardModel" , model="@item" />
        }
    </div>
</div>